/*BODY ACTUALITE*/

.blocActu{
    /*transform: translateY(-5vh);*/
}

.containerDirRowActu {
    display: flex;
    justify-content: center;
    width: 100%;
}

.containerImgrPrezActualite {
    width: 40%;
    height: auto;
    margin-right: 10vw;
}

.imgrPrezActualite {
    width: 110%;
    -webkit-transform: skew(0, 4.76deg) translateY(calc(50vw / 12));
    -ms-transform: skew(0, 4.76deg) translateY(calc(50vw / 12));
    transform: skew(0, 4.76deg) translateY(calc(10vw / 12));
}

.blocTxtAcceuilActu {
    display: flex;
    /*justify-content: flex-start;*/
    /*align-items: flex-start;*/
    flex-direction: column;
    width: 60%;
    height: auto;
    padding-left: 10vw;
    -webkit-transform: skew(0, 4.76deg) translateY(calc(50vw / 12));
    -ms-transform: skew(0, 4.76deg) translateY(calc(50vw / 12));
    transform: skew(0, 4.76deg) translateY(calc(50vw / 12));
    margin-top: calc(50vw / -12);
}


.blocTxtAcceuilActu h1 {
    font-size: xxx-large;
    color: #97B1A6;
}

.blocTxtAcceuilActu p {
    width: 70%;
    color: var(--txt-color-clair);
}

/* BTN CSS ACTUALITE */



/*.btn-actu {*/
/*    align-items: center;*/
/*    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);*/
/*    border: 0;*/
/*    border-radius: 8px;*/
/*    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;*/
/*    box-sizing: border-box;*/
/*    color: #FFFFFF;*/
/*    display: flex;*/
/*    font-family: Phantomsans, sans-serif;*/
/*    font-size: 20px;*/
/*    justify-content: center;*/
/*    line-height: 1em;*/
/*    max-width: 100%;*/
/*    min-width: 140px;*/
/*    padding: 3px;*/
/*    text-decoration: none;*/
/*    user-select: none;*/
/*    -webkit-user-select: none;*/
/*    touch-action: manipulation;*/
/*    white-space: nowrap;*/
/*    cursor: pointer;*/
/*}*/

/*.btn-actu:active,*/
/*.btn-actu:hover {*/
/*    outline: 0;*/
/*}*/

/*.btn-actu span {*/
/*    background-color: rgb(5, 6, 45);*/
/*    padding: 16px 24px;*/
/*    border-radius: 6px;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    transition: 300ms;*/
/*}*/

/*.btn-actu:hover span {*/
/*    background: none;*/
/*}*/
